/* You can add custom styles here. */
// @import "plugins/numbered";
@import "plugins/scrollbars";

#靓仔の奇妙页面lamzeds-bizarre-page {
  //color: #a35ace;
  //font-family: "Microsoft YaHei", "SimSun", sans-serif;
  //width: 320px;
  //margin: 0 auto;
  //letter-spacing: 3px;
  //color: #e67e22;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-image: -webkit-linear-gradient(left, #ae78ce, #c05692 25%, #9b5ef1 50%, #c05692 75%, #8e65c7) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  background-size: 200% 100% !important;
  animation-name: masked-animation !important;
  animation: masked-animation 5s infinite linear !important;

  @keyframes masked-animation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

  //important
  line-height: 1.2;
  //important

  //font-size: 1.5em;
  font-weight: 400;
  box-sizing: border-box;
   display: block;
  //margin-block-start: 0.83em;
  //margin-block-end: 0.83em;
  //margin-inline-start: 0px;
  //margin-inline-end: 0px;
}

//html body main.container.flex div.book-page article.markdown p {
//  color: #544d65;
//}

